---
import Frame from '../../layouts/page-frame.astro';
---
<Frame title="ASSISTENTE DI SALA">
	<img class="image" src="../../../public/images/canto-le-armi-e-luomo.jpg" alt="canto le armi e l'uomo"/>
	<div class="page">
		<div class="container vertical">
				<h1>FONDAZIONE "GIOVANNI E PIETRO FERRERO"</h1>
			<div class="inline">
				<h2>CANTO LE ARMI E L'UOMO</h2>
				<h2> 13 ORE</h2>
			</div>
		</div>
		<div class="container">
			<div>
				<h3>ASSISTENTE DI SALA</h3>
				<p>
					Servizio di Assistenza di Sala presso la mostra "Canto le Armi e l'Uomo" tenutasi in Fondazione Ferrero in onore dello scrittore albese Beppe Fenoglio.
				</p>
			</div>
		</div>
	</div>
</Frame>

<style>
	div.page {
		width: 100%;

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		margin-bottom: 50px;
	}
	div.container {
		display: flex;
		width: 75%;
		align-items: center;
		justify-content: center;

	}

	.vertical {
		flex-direction: column;
	}
	.image {
		width: 100%;
		position: fixed;
		top: 0;
		z-index: -1;
	}

	.inline {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 50%;
    }
    h1 {
        width: 70%;
        font-family: Zen Dots;
        font-size: 3rem;
		margin-top: 200px;
		margin-left: 100px;
    }
	h2 {
        width: 80%;
        font-size: 2.5rem;
		margin-left: 50px;
    }
</style>