---
import Frame from '../../layouts/page-frame.astro';
---
<Frame title="LAB2GO">
	<div>
		<img class="image" src="../../../public/images/lab2go-banner.png" alt="canto le armi e l'uomo"/>
	</div>
	<div>
		<h1>INFN - LAB2GO</h1>
	</div>
	
</Frame>

<style>
	div {
		display: flex;
		width: 100%;
		align-items: center;
		justify-content: center;
		height: 30%;
	}
	.image {
		width: 100%;
	}

    h1 {
        width: 80%;
        font-family: Zen Dots;
        font-size: 3rem;
		text-align: center;
		margin-top: 100px;
    }
</style>