---
import Frame from "../../layouts/page-frame.astro";
---

<Frame title="TUTOR">
	<div class="page">
		<div class="container">
			<div>
				<h1>LICEO SCIENTIFICO "LEONARDO COCITO"</h1>
				<div class="inline">
					<h2>TUTOR DI INGLESE</h2>
					<h2>30 ore</h2>
				</div>
			</div>
			<img
				class="image"
				src="../../images/scuola.jpg"
				alt="immagine cortile esterno"
			/>
		</div>
		<div class="container">
			<div id="info-box">
				<div id="info">
					<img src="../../images/Union-Jack.jpg" />
					<div>
						<h3>PEER-TO-PEER TUTOR</h3>
						<p>
							Tutor per il recupero e il potenziamento della Lingua Inglese per gli studenti del Biennio.
						</p>
					</div>
				</div>
		</div>
	</div>
</Frame>

<style>
	div.page {
		width: 100%;

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		margin-bottom: 50px;
	}
	div.container {
		display: flex;
		width: 75%;
		align-items: center;
		justify-content: center;
		max-height: 30%;
	}

	.image {
		max-height: 500px;
		padding: 1%;
	}

	h1 {
		width: 50%;
		font-family: Zen Dots;
		font-size: 3rem;
		margin-top: 100px;
	}
	h2 {
		width: 50%;
		font-size: 2.5rem;
		margin-top: 50px;
	}

	.inline {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 30px;
    }

	#info>img {
		height: 150px;
		width: auto;
		margin: 20px;
	}

	#info {
		display: flex;
		justify-content: space-around;
	}
</style>
