@import "https://fonts.googleapis.com/css?family=Zen+Dots";
    @import "https://fonts.googleapis.com/css2?family=Raleway";
    html {
        min-height: 100%;
        font-family: Raleway;
    }
    
    body{
        margin: 0 auto;
        scrollbar-width: 0;
    }

    header {
        display: inline-flex;
        width: 100%;
        height: 50px;
        justify-content: center;
        align-content: center;

        background-color:#00025f;
        z-index: 0;
    }

    #logo {
        width: 45px;
        height: auto;
    }

    nav {
        display: inline-flex;
        width: 80%;
        justify-content: center;
        align-content: center;
    }

    nav > a {
        width: 20%;
        text-decoration: none;
        text-align: center;
        font-weight: bold;
        font-size: 1rem;
        color: #fff;
        line-height: 50px;
    }

    nav > a:hover {
        background-color: #ffffff88;
        border-radius: 20px;
        font-size: 1.2rem;
    }

    footer {
        display: flex;
        width: 100%;
        min-height: 50px;
        justify-content: center;
        align-content: center;

        color:#fff;

        background-color:#00025f;
    }
    p{
        font-family: Raleway;
        max-width: 100ch;
        padding: 5px 10px;
    }

    #dev-tag {
        text-decoration: none;
        font-family: Raleway;
        color: #fff;
    }

    #dev-tag:visited {
        text-decoration: none;
        font-family: Raleway;
        color: #fff;
    }

    p.center-text{
        text-align: center;
    }