---
import Frame from "../layouts/page-frame.astro";
import Exam from "../components/exam.astro";
import Spacer from "../components/spacer.astro";
---

<Frame title="ACADEMICS">
	<h1>ACADEMICS</h1>
	<Exam
		name="Key English Test"
		short="KET"
		href="https://www.cambridgeenglish.org/exams-and-tests/key/"
		img="../../public/images/cambridge-assessment-international-education.png"
		issuer="Cambridge Assessment International"
		score="139"
		level="A2"
		dates="14/05/2022 - //"
	/>
	<Exam
		name="Preliminary English Test"
		short="PET"
		href="https://www.cambridgeenglish.org/exams-and-tests/preliminary/"
		img="../../public/images/cambridge-assessment-international-education.png"
		issuer="Cambridge Assessment International"
		score="158"
		level="B1"
		dates="14/05/2022 - //"
	/>
	<Exam
		name="First Certificate in English"
		short="FCE"
		href="https://www.cambridgeenglish.org/exams-and-tests/first/"
		img="../../public/images/cambridge-assessment-international-education.png"
		issuer="Cambridge Assessment International"
		score="189"
		level="B2"
		dates="14/05/2022 - //"
	/>
	<Exam
		name="Certificate in Advanced English"
		short="CAE"
		href="https://www.cambridgeenglish.org/exams-and-tests/advanced/"
		img="../../public/images/cambridge-assessment-international-education.png"
		issuer="Cambridge Assessment International"
		score="200"
		level="C2"
		dates="14/05/2022 - //"
	/>
	<Exam
		name="International English Language Testing System"
		short="IELTS"
		href="https://www.cambridgeenglish.org/exams-and-tests/advanced/"
		img="../../public/images/IELTS-logo.png"
		issuer="British Council - Cambridge Assessment English"
		score="8"
		level="C1"
		dates="14/05/2022 - //"
	/>
	<Exam
		name="Scholastic Aptitude Test"
		short="SAT"
		href="https://www.cambridgeenglish.org/exams-and-tests/advanced/"
		img="../../public/images/SAT-logo.webp"
		issuer="College Board"
		score="1540"
		level="99% percentile"
		dates="14/05/2022 - //"
	/>
	<Spacer/>
</Frame>
