---
import Frame from '../layouts/page-frame.astro';
---
<Frame title="HOME">
	<div id="presentaion-container">
		<h1>EMANUELE EIRALE</h1>
		<div id="motto-container">
			<span>Studente</span> <span>Sognatore</span> <span>Io</span>
		</div>
		</div>
		
	</div>
</Frame>

<style>
	#presentaion-container {

	}

	h1 {
		text-align: center;
		font-family: Zen Dots;
		font-size: 2vh;
	}

	#motto-container {
		display: inline-flex;
		justify-content: space-evenly;
        align-content: center;
		
		width: 100%;
	}
	#motto-container > span{
		text-align: center;
		font-family: Zen Dots;
		font-size: 1.5vh;
	}

	header {
		background-color: #ffffff00;
	}


</style>
