---
import Frame from '../layouts/page-frame.astro';
import Card from '../components/card.astro';
---
<Frame title="PCTO">
	<div id="activities-container">
        <Card href="/pcto/progecta" title="Progecgta" role="Tecnico Informatico - Sviluppatore" img="../images/brand-progecta.svg"></Card>
        <Card href="/pcto/infn" title="INFN" role="Progetto Lab2Go" img="../images/lab2go-logo.png"></Card>
        <Card href="/pcto/fondazione" title="Fondazione Pietro e Giovanni Ferrero" role="Assistente di Sala" img="../images/fondazione-ferrero.webp"></Card>
        <Card href="/pcto/tutor" title="Peer-to-Peer Tutoring" role="Tutor di Inglese" img="../images/Cocito Logo Design.svg"></Card>
    </div>
</Frame>

<style>
    #activities-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
    }
</style>