---
import Frame from "../layouts/page-frame.astro";
import Card from "../components/card.astro";
---

<Frame title="PCTO">
    <div>
        <h1>PCTO</h1>
        <p>
            I <b>PCTO</b>, <i>percorsi per le competenze trasversali e per l'orientamento</i>, 
            consistono in un periodo di formazione teorica in classe e uno di esperienza 
            più pratica presso un’azienda o un ente di altro genere - pubblico o privato - 
            in cui si decide di svolgere il periodo pratico. <br />
            Il monte ore minimo da totalizzare nel triennio di Scuola Secondaria di Secondo Grado è di <b>90 ore</b>.
        </p>
    </div>
    <div id="activities-container">
        <Card
            href="/pcto/progecta"
            title="Progecgta"
            role="Tecnico Informatico - Sviluppatore"
            img="/images/brand-progecta.svg"
            hours="40"
            classe="3°E"
        />
        <Card
            href="/pcto/infn"
            title="INFN"
            role="Progetto Lab2Go"
            img="../images/lab2go-logo.png"
            hours="30"
            classe="4°E"
        />
        <Card
            href="/pcto/fondazione"
            title="Fondazione Pietro e Giovanni Ferrero"
            role="Assistente di Sala"
            img="../images/fondazione-ferrero.webp"
            hours="15"
            classe="4°E"
        />
        <Card
            href="/pcto/tutor"
            title="Peer-to-Peer Tutoring"
            role="Tutor di Inglese"
            img="../images/Cocito Logo Design.svg"
            hours="30"
            classe="3°E"
        />
    </div>
</Frame>

<style>
    div {
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
    }

    h1 {
        width: 80%;
        font-family: Zen Dots;
        font-size: 3rem;
    }

</style>
