---
import Frame from '../layouts/page-frame.astro';
import Card from '../components/card.astro';
---
<Frame title="PCTO">
	<div id="activities-container">
        <Card href="/pcto/progecta" title="Progecgta" body="Lorem Ipsum"></Card>
        <Card href="/pcto/fondazione" title="Fondazione Pietro e Giovanni Ferrero" body="Lorem Ipsum"></Card>
        <Card href="/pcto/tutor" title="Peer-to-Peer Tutoring" body="Lorem Ipsum"></Card>
    </div>
</Frame>
