---
import Frame from '../layouts/page-frame.astro';
import Card from '../components/card.astro';
---
<Frame title="PCTO">
	<div id="activities-container">
        <Card href="/pcto/progecta" title="Progecgta" role="Tecnico Informatico - Sviluppatore" img="images/logo.png"></Card>
        <Card href="/pcto/fondazione" title="Fondazione Pietro e Giovanni Ferrero" role="Assistente di Sala" img="images/logo.png"></Card>
        <Card href="/pcto/tutor" title="Peer-to-Peer Tutoring" role="Tutor di Inglese" img="images/logo.png"></Card>
    </div>
</Frame>
