---
import Frame from '../layouts/page-frame.astro';
---
<Frame title="FUTURE">
	<div class="page">
		<h1>yet to be written ...</h1>
	</div>
</Frame>

<style>
	@import url("https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do");
	.page {
		height: 100%;
		width: 100%;
	}

	h1 {
		font-size: 3.5rem;
		font-family: Nothing You Could Do;
		width: 100%;
		text-align: center;
		margin-top: calc(50vh - 3.5rem);

		background: linear-gradient(to right, rgb(191, 149, 63), rgb(252, 246, 186), rgb(179, 135, 40), rgb(251, 245, 183), rgb(170, 119, 28));
  		-webkit-background-clip: text;
  		-webkit-text-fill-color: transparent;
	}
</style>