---
export interface Props {
    title: string;
}

const { title } = Astro.props;
---

<html lang="en" transition:animate="slide">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="../images/logo.png" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <link rel="stylesheet" type="text/css" href="src/styles/styles.css" />
        <title>{title} | Emanuele Eirale</title>
    </head>
    <body>
        <header>
            <nav>
                <a href="/" target="_top">Home</a>
                <a href="/academic" target="_top">Academics</a
                >
                <a href="/pcto" target="_top">PCTO</a>
                <!-- una pagina per attività per pcto -->
                <a href="/hobby" target="_top">Hobbies</a>
                <a href="/philosophy" target="_top">Philosophy</a>
            </nav>
            <img id="logo" src="../images/logo.png" alt="Logo" />
        </header>

        <slot />
        <footer>
            <p class="center-text">©2024</p>
            <p class="center-text">site developed by <a href="https://www.linkedin.com/in/emanuele-eirale-5e8534/" id="dev-tag"> Emanuele Eirale </a></p>
        </footer>
    </body>
</html>
